body,html {
  margin:0;
}
.container {
  max-width: 95%;
  width: 800px;
  margin: 0 auto;
}

.lil-box, .lil-box-target{
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: red;
}

.lil-box-target {
  background-color: blue;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.dad-box {
  position: relative;
  width: 30px;
  margin: 0 auto;
  height: 400px;
  border: 1px solid black;
}